/*=== Link text management ===*/

a:link, a:visited {
    text-decoration: none;
} 

a:hover, a:active {
    text-decoration: none;
}
/* Link color of the base link */
a:link {
    color: #009b77
}
/* Link color of visited link */
a:visited {
    color: #009b77
}
/* Link color on cursor hover */
a:hover {
    color: #AC77FF
}
/* Link color when link is clicked */
a:active {
    color: #FF4747
}

/*=== div settings ===*/
div {
    width: 500px;
    margin: auto;
}
