/*=== Link text management ===*/

a:link, a:visited {
    text-decoration: none;
} 

a:hover, a:active {
    text-decoration: none;
}
/* Link color of the base link */
a:link {
    color: #009b77
}
/* Link color of visited link */
a:visited {
    color: #009b77
}
/* Link color on cursor hover */
a:hover {
    color: #AC77FF
}
/* Link color when link is clicked */
a:active {
    color: #FF4747
}

/*=== div settings ===*/
#contents {
    width: 700px;
    margin: auto;
    overflow: hidden;
}

#banners {
    width: 29%;
    float: left;
}
#wish_tester {
    width: 71%;
    float: right;
}

#header {
    width: 700px;
    margin: auto;
}
#update-info {
    width: 700px;
    margin: auto;
}
#calculation-info {
    width: 700px;
    margin: auto;
}

/*=== button settings ===*/
.pickup {
    width: 165px;
    height: 30px;
    text-align: center;
    margin-bottom: 3px;
}
.pull {
    width: 70px;
    text-align: center;
    margin: 3px;
}
