/*=== Link text management ===*/

a:link, a:visited {
    text-decoration: none;
} 

a:hover, a:active {
    text-decoration: none;
}
/* Link color of the base link */
a:link {
    color: #009b77
}
/* Link color of visited link */
a:visited {
    color: #009b77
}
/* Link color on cursor hover */
a:hover {
    color: #AC77FF
}
/* Link color when link is clicked */
a:active {
    color: #FF4747
}

/*=== div settings ===*/
#header {
    width: 800px;
    margin: auto;
}
#content {
    width: 800px;
    margin: auto;
    overflow: hidden;
}
#banners {
    width: 32%;
    float: left;
}
#wish-tester {
    width: 68%;
    float: right;
}
#pull-characters {
    width: 600px;
    overflow: auto;
    padding: 10px;
    margin: auto;
    height: 200px;
    border:3px solid#ccc;
}
#calculation-info {
    width: 800px;
    margin: auto;
}
#update-info {
    width: 800px;
    margin: auto;
}

/*=== button settings ===*/
.pickup {
    width: 180px;
    height: 30px;
    text-align: center;
    margin-bottom: 3px;
}
.pull {
    width: 80px;
    text-align: center;
    margin: 3px;
}
