/*===link text management===*/
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
a:link {
    color: #00a2a2
}
a:visited {
    color: #00a2a2
}
a:hover {
    color: #AC77FF
}
a:active {
    color: #007272
}

/*=== div settings ===*/
#header {
    width: 900px;
    margin: auto;
}

#content {
    width: 900px;
    margin: auto;
    overflow: hidden;
}
#side-panel {
    width: 20%;
    float: left;
    text-align: center;
    border: 2px solid#b1b1b1;
    overflow: auto;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.infoDiv {
    width: 74%;
    float: right;
    padding: 10px;
    border: 2px solid#b1b1b1;
    overflow: auto;
    display: none;
    height: 550px;
}

#update-info {
    width: 900px;
    margin: auto;
}

/* === class settings ===
.side-panel-button {
    padding: 0;
    border: none;
    background: none;
} */


/*=== text settings ===*/

h2 {
    text-align: center;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
